<html>
<head>
  <title>Geoservices Data Providers</title>
  <link href='/ESRI.ArcGIS.SDS.REST.css' rel='stylesheet' type='text/css'>
  <link rel='SHORTCUT ICON' href='/favicon.ico'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <meta name="keywords" content="ArcGIS REST Virtual">
</head>
<body>
<table width="100%" class="userTable">
<tr>
<td class="titlecell">Virtual Services - Top-level REST Endpoints</td>
</tr>
</table>
<div class='restHeader'>
<h2>Geoservices Data Providers:</h2>
</div>
<div class='restBody'>
<b>DataProviders:</b> <br/>
<br/>
<ul id='servicesList'>
%s
</ul><br/>
</div>
</body>
</html>
