<html>
<head>
  <title>%s (%s)</title>
  <link href='/ESRI.ArcGIS.SDS.REST.css' rel='stylesheet' type='text/css'>
  <link rel='SHORTCUT ICON' href='/favicon.ico'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <meta name="keywords" content="ArcGIS REST Services Directory Root">
</head>
<body>
<table width="100%" class="userTable">
<tr>
<td class="titlecell">ArcGIS REST Services Directory</td>
</tr>
</table>
<table class="navTable" width="100%">
<tbody>
<tr valign="top">
<td class="breadcrumbs">
<a href="%s">Home</a> > <a href="%s">services</a> %s</td>
<td align="right">
<a href="?f=help" target="_blank">API Reference</a></td>
</tr>
</tbody>
</table>
<table>
<tr>
<td class="apiref">
<a href="?f=pjson" target="_blank">JSON</a>
</td>
</tr>
</table>
<div class='restHeader'>
<h2>%s (%s)</h2>
</div>
<div class='restBody'>
<b>View In: </b>
&nbsp;&nbsp;<a href="http://www.arcgis.com/home/webmap/viewer.html?url=http://services.arcgis.com/OfH668nDRN7tbJh0/ArcGIS/rest/services/neighborhoods/FeatureServer&source=sd" target="_blank">ArcGIS.com Map</a>
&nbsp;&nbsp;<a href="http://explorer.arcgis.com?url=http://services.arcgis.com/OfH668nDRN7tbJh0/ArcGIS/rest/services/neighborhoods/FeatureServer&source=sd" target="_blank">ArcGIS Explorer Online</a>
<br/><br/>
<b>Service Description:</b> <br/>
<br/>
<b>Has Versioned Data:</b> %s<br/>
<br/>
<b>Max Record Count:</b> %d<br/>
<br/>
<b>Supported query Formats:</b> %s<br/>
<br/>
<a href="%s">All Layers and Tables</a><br/>
<br/>
<b>Layers:</b> <br/>
<ul>
%s
</ul><br/>
<b>Description:</b> %s<br/>
<br/>
<b>Copyright Text:</b> %s<br/>
<br/>
<b>Spatial Reference:</b> %s<br/>
<br/>
<b>Initial Extent:</b> <br/>
%s
<b>Full Extent:</b> <br/>
%s
<b>Units:</b> %s<br/>
<br/>
<b>Supported Operations: </b>
&nbsp;&nbsp;<a href="%s">Query</a>
<br/><br/>
</div>
</body>
</html>
