<html>
<head>
  <title>Layer: %s (ID:%d)</title>
  <link href='/ESRI.ArcGIS.SDS.REST.css' rel='stylesheet' type='text/css'>
  <link rel='SHORTCUT ICON' href='/favicon.ico'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
</head>
<body>
<table width="100%" class="userTable">
<tr>
<td class="titlecell">ArcGIS REST Services Directory</td>
</tr>
</table>
<table class="navTable" width="100%">
<tbody>
<tr valign="top">
<td class="breadcrumbs">
<a href="%s">Home</a> > <a href="%s">services</a> > <a href="%s">%s (%s)</a> > <a href="%s">%s</a> </td>
<td align="right">
<a href="?f=help" target="_blank">API Reference</a></td>
</tr>
</tbody>
</table>
<table>
<tr>
<td class="apiref">
<a href="?f=pjson" target="_blank">JSON</a>
</td>
</tr>
</table>
<div class='restHeader'>
<h2>Layer: %s (ID:%d)</h2>
</div>
<div class='restBody'>
<b>View In: </b>
&nbsp;&nbsp;<a href="http://www.arcgis.com/home/webmap/viewer.html?url=%s&source=sd" target="_blank">ArcGIS.com Map</a>
&nbsp;&nbsp;<a href="%s/webmaps/jsapi/index.html?url=%s&source=sd" target="_blank">Esri JS API Map</a>
&nbsp;&nbsp;<a href="%s/webmaps/esri-leaflet/index.html?url=%s&source=sd" target="_blank">Esri-Leaflet Map</a>
&nbsp;&nbsp;<a href="http://explorer.arcgis.com/?url=%s&source=sd" target="_blank">ArcGIS Explorer Online</a>
<br/><br/>
%s
<b>Supported Operations: </b>
&nbsp;&nbsp;<a href="%s">Query</a>
<br/><br/>
</div>
</body>
</html>
