<html>
<head>
  <title>Layer: %s (ID:%d)</title>
  <link href='/ESRI.ArcGIS.SDS.REST.css' rel='stylesheet' type='text/css'>
  <link rel='SHORTCUT ICON' href='/favicon.ico'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
</head>
<body>
<table width="100%" class="userTable">
<tr>
<td class="titlecell">ArcGIS REST Services Directory</td>
</tr>
</table>
<table class="navTable" width="100%">
<tbody>
<tr valign="top">
<td class="breadcrumbs">
<a href="%s">Home</a> > <a href="%s">services</a> > <a href="%s">%s (%s)</a> > <a href="%s">%s</a> </td>
<td align="right">
<a href="?f=help" target="_blank">API Reference</a></td>
</tr>
</tbody>
</table>
<table>
<tr>
<td class="apiref">
<a href="?f=pjson" target="_blank">JSON</a>
</td>
</tr>
</table>
<div class='restHeader'>
<h2>Layer: %s (ID:%d)</h2>
</div>
<div class='restBody'>
<b>View In: </b>
&nbsp;&nbsp;<a href="http://www.arcgis.com/home/webmap/viewer.html?url=http://services.arcgis.com/OfH668nDRN7tbJh0/ArcGIS/rest/services/neighborhoods/FeatureServer/0&source=sd" target="_blank">ArcGIS.com Map</a>
&nbsp;&nbsp;<a href="http://explorer.arcgis.com?url=http://services.arcgis.com/OfH668nDRN7tbJh0/ArcGIS/rest/services/neighborhoods/FeatureServer/0&source=sd" target="_blank">ArcGIS Explorer Online</a>
<br/><br/>
<b>Name:</b> %s<br/>
<br/>
<b>Display Field:</b> %s<br/>
<br/>
<b>Type:</b> Feature Layer<br/>
<br/>
<b>Geometry Type:</b> esriGeometryPoint<br/>
<br/>
<b>Description:</b> %s<br/>
<br/>
<b>Copyright Text:</b> %s<br/>
<br/>
<b>Min. Scale:</b> %d<br/>
<br/>
<b>Max. Scale:</b> %d<br/>
<br/>
<b>Default Visibility:</b> true<br/>
<br/>
<b>Max Record Count:</b> %d<br/>
<br/>
<b>Supported query Formats:</b> JSON<br/>
<br/>
<b>Extent:</b> <br/>
%s
<br/>
<b>Drawing Info:</b> <br/>
<!-- ul>Renderer: <br/>
<ul>Simple Renderer: <br/>
Symbol: <br/>
<ul><i>Picture Marker Symbol:</i><br/>
<img src="/OfH668nDRN7tbJh0/ArcGIS/rest/services/neighborhoods/FeatureServer/0/images/RedSphere.png"/><br/>
</ul>Label: <br/>
Description: <br/>
</ul>Labeling Info: N/A<br/>
</ul><br/ -->
<b>HasZ:</b> false<br/>
<br/>
<b>HasM:</b> false<br/>
<br/>
<b>Has Attachments:</b> false<br/>
<br/>
<b>HTML Popup Type:</b> esriServerHTMLPopupTypeNone<br/>
<br/>
<b>Global ID Field:</b> <br/>
<br/>
<b>Type ID Field:</b> <br/>
<br/>
<b>Fields:</b>
<ul>
%s
</ul>
<br/>
<b>Templates:</b> <br/>
<b>Is Data Versioned:</b> false<br/>
<br/>
<b>Supports Rollback On Failure Parameter:</b> true<br/>
<br/>
<b>Supported Operations: </b>
&nbsp;&nbsp;<a href="%s">Query</a>
<br/><br/>
</div>
</body>
</html>
