<html>
<head>
  <title>Server Info</title>
  <link href='/ESRI.ArcGIS.SDS.REST.css' rel='stylesheet' type='text/css'>
  <link rel='SHORTCUT ICON' href='/favicon.ico'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <meta name="keywords" content="ArcGIS REST Services Directory Root">
</head>
<body>
<table width="100%" class="userTable">
<tr>
<td class="titlecell">ArcGIS REST Services Directory</td>
</tr>
</table>
<table class="navTable" width="100%">
<tbody>
<tr valign="top">
<td class="breadcrumbs">
<a href="/OfH668nDRN7tbJh0/ArcGIS/rest/services">Home</a></td>
<td align="right">
<a href="?f=help" target="_blank">API Reference</a></td>
</tr>
</tbody>
</table>
<table>
<tr>
<td class="apiref">
<a href="?f=pjson" target="_blank">JSON</a>
</td>
</tr>
</table>
<div class='restHeader'>
<h2>Server Info</h2>
</div>
<div class='restBody'>
<b>Current Version:</b> %d<br/>
<br/>
<b>Full Version:</b> %s<br/>
<br/>
<b>Authentication Information:</b> <br/>
<br/>
<b>Owning System Url:</b> http://www.arcgis.com<br/>
<br/>
<ul>
<li><b><i>Is Token Based Security</i>:</b> false<br/>
</li>
</ul>
</div>
</body>
</html>
